<div class="container mt-4">
  <table class="table table-dark table-striped table-hover table-responsive">
    <thead>
      <tr>
        <th scope="col" class="col-4">#</th>
        <th scope="col" class="col-4">Team Name</th>
        <th scope="col" class="col-4">Points</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        <td>{{ rows.index(row) + 1 }}</td>
        <td>{{ row['name'] }}</td>
        <td>{{ row['score'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <table class="table table-info table-hover table-responsive">
    <tbody>
      <tr>
        <td class="col-4">{{ team_standing['Rank_no'] }}</td>
        <td class="col-4">{{ team_standing['name'] }}</td>
        <td class="col-4">{{ team_standing['score'] }}</td>
      </tr>
    </tbody>
  </table>
</div>